---
---

@import "minima";

body {
  background-color: #90EE90;
  color: #1a1a1a;
}

.site-header *,
.site-footer * {
  color: #ffffff;
}

.site-header {
  border-bottom: 1px solid #222;
}

.site-footer {
  border-top: 1px solid #222;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #004d00;
  text-decoration: underline;
}
